	<!-- Progress Bar -->
	<div class="progress-bar-opinion">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="media">
						<%= image_tag 'gr-opinion.png', :size => '68', :class => "media-object pull-left" %>
							<div class="media-body">
								<small>GRAND ROUNDS</small>
								<h4>EXPERT OPINION</h4>
							</div>
						</div>
				</div>
				<div class="col-md-2 hidden-xs text-center">
					<span class="fa-stack fa-lg">
					      <i class="fa fa-circle fa-stack-2x"></i>
					      <i class="fa fa-check fa-inverse fa-stack-1x"></i>
			    </span>
					<p>Start your Opinion</p>
				</div>
				<div class="col-md-2 hidden-xs text-center">
					<span class="fa-stack fa-lg">
					      <i class="fa fa-circle fa-stack-2x"></i>
					      <i class="fa fa-check fa-inverse fa-stack-1x"></i>
			    </span>
					<p>Locate your Records</p>
				</div>
				<div class="col-md-2 hidden-xs text-center step-on">
					<span class="fa-stack fa-lg">
					      <i class="fa fa-circle fa-stack-2x"></i>
					      <i class="fa fa-inverse fa-stack-1x">3</i>
			    </span>
					<p>Approve your Release</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /Progress Bar -->
	
	<div class="container signup-container">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs sidebar">
				<!-- <p><strong>Getting</strong> an expert opinion from our panel of elite physicians is simple and easy.</p><p>Getting started should only take a few minutes.</p> -->
			</div>

			<div class="col-md-9">
								
				<!-- payment info -->
				<div class="item">
					<p><strong>Your</strong> last step is to review and sign our medical release form. We use this form to get your records from all of the doctors, hospitals, clinics, and imaging centers that you listed in the previous step.</p>
					<hr>
					<p><strong>Grand Rounds Medical Release</strong></p>
					<div class="row">
						<div class="col-xs-12 release-box">
							<ul class="list-unstyled">
								<li>Name: Marke Mark</li>
								<li>Address: 345 Spring St. San Martinogame CA 940001</li>
								<li>Date of Birth: 01/12/1952</li>
								<li>SSN: XXX-XX-5642</li>
							</ul>
							<p>Fanny pack banh mi flexitarian whatever lo-fi. Ut actually flexitarian vegan. Single-origin coffee XOXO roof party, flannel viral mustache plaid. Before they sold out incididunt post-ironic mustache exercitation authentic, skateboard chillwave sartorial 3 wolf moon culpa Truffaut. Aesthetic plaid dolore freegan excepteur. Velit squid dolore, put a bird on it asymmetrical jean shorts single-origin coffee eiusmod meggings meh aliqua sint. Leggings trust fund nulla Carles.
							</p>
							<div class="checkbox">
							    <label>
							      <input type="checkbox" checked> Images (MRI, CT Scan, etc)
							    </label>
							</div>
							<div class="checkbox">
							    <label>
							      <input type="checkbox" checked> Lab Results
							    </label>
							</div>
							<div class="checkbox">
							    <label>
							      <input type="checkbox" checked> Doctor's notes
							    </label>
							</div>
							<p>Semiotics dolor VHS, vegan distillery master cleanse flexitarian beard kitsch cupidatat paleo XOXO locavore letterpress. Whatever pop-up blog, velit accusamus polaroid mollit mlkshk. Semiotics swag mumblecore, Truffaut fashion axe 8-bit forage. Quis minim cray beard. Ennui elit labore fixie. Mixtape exercitation craft beer fanny pack, fingerstache locavore quinoa actually kale chips. Letterpress tousled drinking vinegar, ugh nostrud wayfarers four loko meggings quis laboris bespoke keytar dolore.
							</p>
							<p>Culpa selfies mustache, deserunt Pinterest esse incididunt. Food truck readymade culpa officia tempor, banjo dolore fixie occupy Banksy enim typewriter Marfa minim. Deserunt church-key umami voluptate, incididunt Cosby sweater American Apparel adipisicing street art Intelligentsia. Laboris irony placeat, farm-to-table occupy master cleanse post-ironic. Locavore lo-fi viral paleo mlkshk, fap Portland blog. Blue Bottle single-origin coffee viral post-ironic anim elit tattooed trust fund Williamsburg, sint sustainable. Bespoke Godard meh, velit bitters Cosby sweater gluten-free nihil laborum actually elit direct trade Etsy deserunt try-hard.
							</p>
							<p>Fap seitan ugh food truck, gentrify pork belly quinoa Neutra veniam gastropub Bushwick. VHS American Apparel umami, messenger bag gastropub do photo booth 90's est vero officia nostrud. Irony mlkshk Neutra fixie, ethical craft beer non placeat raw denim. Assumenda Portland Shoreditch, pug ugh quinoa bitters. Cillum XOXO Neutra, chambray Wes Anderson Banksy YOLO narwhal cray est Schlitz Shoreditch. Mumblecore Neutra Etsy, elit VHS Truffaut cred Cosby sweater chillwave literally church-key 8-bit tote bag. Artisan Williamsburg beard keytar literally, adipisicing Intelligentsia Bushwick selvage.
							</p>			
							<hr>
							<p>Culpa selfies mustache, deserunt Pinterest esse incididunt. Food truck readymade culpa officia tempor, banjo dolore fixie occupy Banksy enim typewriter Marfa minim. Deserunt church-key umami voluptate, incididunt Cosby sweater American Apparel adipisicing street art Intelligentsia. Laboris irony placeat, farm-to-table occupy master cleanse post-ironic. Locavore lo-fi viral paleo mlkshk, fap Portland blog. Blue Bottle single-origin coffee viral post-ironic anim elit tattooed trust fund Williamsburg, sint sustainable. Bespoke Godard meh, velit bitters Cosby sweater gluten-free nihil laborum actually elit direct trade Etsy deserunt try-hard.
							</p>
							<p>Fap seitan ugh food truck, gentrify pork belly quinoa Neutra veniam gastropub Bushwick. VHS American Apparel umami, messenger bag gastropub do photo booth 90's est vero officia nostrud. Irony mlkshk Neutra fixie, ethical craft beer non placeat raw denim. Assumenda Portland Shoreditch, pug ugh quinoa bitters. Cillum XOXO Neutra, chambray Wes Anderson Banksy YOLO narwhal cray est Schlitz Shoreditch. Mumblecore Neutra Etsy, elit VHS Truffaut cred Cosby sweater chillwave literally church-key 8-bit tote bag. Artisan Williamsburg beard keytar literally, adipisicing Intelligentsia Bushwick selvage.
							</p>			
							<ul class="list-unstyled">
								<li>Email: markemark@mark.com</li>
								<li>Date: Thursday, February 20, 2014</li>
							</ul>
							<!-- sign stuff -->
								<div data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-title="Click here to Sign" data-content="We'll digitally attach your signature to our Medical Records Request Forms."><p><div class="bs-callout bs-callout-info"><a href="#"><%= image_tag "sig-placeholder.png" %></a></div></p></div>
						</div>
					</div>

								</div>
					<!-- create account -->		
				

				<!-- /carousel -->
			</div>

		</div>
	</div>
	<script>
	    $("[data-toggle=popover]").popover();
				window.setTimeout(function() { $("#alert").alert('close'); }, 2000);
	</script>