	<!-- Progress Bar -->
	<div class="progress-bar-opinion">
		<div class="container">
			<div class="row">
				<%= image_tag "signup-progressbar04.png" %>
			</div>
		</div>
	</div>
	<!-- /Progress Bar -->
	<div class="container signup-container">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs sidebar">
				<p><strong>Getting</strong> an expert opinion from our panel of elite physicians is simple and easy.</p><p>Getting started should only take a few minutes.</p>
			</div>

			<div class="col-md-9">
								
				<!-- payment info -->
				<div class="item">
					<p><strong>We're</strong> going to start collecting all the medical records that pertain to this condition, but first we need you to provide us with the names of the doctors, physicians, specialists, and locations that have been seen.</p>
					<hr>
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs">
					  <li class="active"><a href="#home" data-toggle="tab">Treating Physicians</a></li>
					  <li><a href="#profile" data-toggle="tab">Hospitals &amp; Clinics</a></li>
					  <li><a href="#messages" data-toggle="tab">Imaging &amp; Testing Centers</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					  <div class="tab-pane active" id="home">
							<div class="row">
								<div class="col-xs-8">
									<div class="form-group">
								<label>Treating Physician</label>
								<div class="row">
									<div class="col-xs-12">
										<input type="text" class="form-control" placeholder="Physician's name" required autofocus>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<input type="text" class="form-control" placeholder="Physician's specialty" required autofocus>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<input type="text" class="form-control" placeholder="Practice, hospital, clinic, etc." required autofocus> 
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<input type="text" class="form-control" placeholder="City" required autofocus> 
									</div>
									<div class="col-xs-4">
										<select class="form-control">
										  <option>State
											<option value="AL">Alabama
											<option value="AK">Alaska
											<option value="AZ">Arizona
											<option value="AR">Arkansas
											<option value="CA">California
											<option value="CO">Colorado
											<option value="CT">Connecticut
											<option value="DE">Delaware
											<option value="FL">Florida
											<option value="GA">Georgia
											<option value="HI">Hawaii
											<option value="ID">Idaho
											<option value="IL">Illinois
											<option value="IN">Indiana
											<option value="IA">Iowa
											<option value="KS">Kansas
											<option value="KY">Kentucky
											<option value="LA">Louisiana
											<option value="ME">Maine
											<option value="MD">Maryland
											<option value="MA">Massachusetts
											<option value="MI">Michigan
											<option value="MN">Minnesota
											<option value="MS">Mississippi
											<option value="MO">Missouri
											<option value="MT">Montana
											<option value="NE">Nebraska
											<option value="NV">Nevada
											<option value="NH">New Hampshire
											<option value="NJ">New Jersey
											<option value="NM">New Mexico
											<option value="NY">New York
											<option value="NC">North Carolina
											<option value="ND">North Dakota
											<option value="OH">Ohio
											<option value="OK">Oklahoma
											<option value="OR">Oregon
											<option value="PA">Pennsylvania
											<option value="RI">Rhode Island
											<option value="SC">South Carolina
											<option value="SD">South Dakota
											<option value="TN">Tennessee
											<option value="TX">Texas
											<option value="UT">Utah
											<option value="VT">Vermont
											<option value="VA">Virginia
											<option value="WA">Washington
											<option value="DC">Washington D.C.
											<option value="WV">West Virginia
											<option value="WI">Wisconsin
											<option value="WY">Wyoming
										</select>
									</div>
								</div>
									</div>	
									<div class="form-group">
								<label>Phone Number (Optional)</label>
								<div class="row">
									<div class="col-xs-8">
									 <input type="text" class="form-control" placeholder="Phone number" required required data-toggle="popover" data-placement="left" data-content="Your phone number gives us an additional way to contact you about your case as well as verifying your identity."> 
									</div>
								</div>
							</div>
								</div>
								<div class="col-xs-4">
									<strong>Records we should collect</strong>
									<div class="checkbox">
									    <label>
									      <input type="checkbox" checked> Images (MRI, CT Scan, etc)
									    </label>
									</div>
									<div class="checkbox">
									    <label>
									      <input type="checkbox" checked> Lab Results
									    </label>
									</div>
									<div class="checkbox">
									    <label>
									      <input type="checkbox" checked> Doctor's notes
									    </label>
									</div>
								</div>
							</div>
							
							<div class="row">
								<p><button class="btn btn-info"><i class="fa fa-plus-circle"></i> Add another physician</button></p>
							</div>
						</div>
						
					  <div class="tab-pane" id="profile">
							<div class="form-group">
								<label>Hospital</label>
								<div class="row">
									<div class="col-xs-8">
										<input type="text" class="form-control" placeholder="Hospital name" required autofocus>
									</div>
								</div>
								</div>
								
								<div class="row">
									<div class="col-xs-3">
										<input type="text" class="form-control" placeholder="City" required autofocus> 
									</div>
									<div class="col-xs-2">
										<select class="form-control">
										  <option>State
											<option value="AL">Alabama
											<option value="AK">Alaska
											<option value="AZ">Arizona
											<option value="AR">Arkansas
											<option value="CA">California
											<option value="CO">Colorado
											<option value="CT">Connecticut
											<option value="DE">Delaware
											<option value="FL">Florida
											<option value="GA">Georgia
											<option value="HI">Hawaii
											<option value="ID">Idaho
											<option value="IL">Illinois
											<option value="IN">Indiana
											<option value="IA">Iowa
											<option value="KS">Kansas
											<option value="KY">Kentucky
											<option value="LA">Louisiana
											<option value="ME">Maine
											<option value="MD">Maryland
											<option value="MA">Massachusetts
											<option value="MI">Michigan
											<option value="MN">Minnesota
											<option value="MS">Mississippi
											<option value="MO">Missouri
											<option value="MT">Montana
											<option value="NE">Nebraska
											<option value="NV">Nevada
											<option value="NH">New Hampshire
											<option value="NJ">New Jersey
											<option value="NM">New Mexico
											<option value="NY">New York
											<option value="NC">North Carolina
											<option value="ND">North Dakota
											<option value="OH">Ohio
											<option value="OK">Oklahoma
											<option value="OR">Oregon
											<option value="PA">Pennsylvania
											<option value="RI">Rhode Island
											<option value="SC">South Carolina
											<option value="SD">South Dakota
											<option value="TN">Tennessee
											<option value="TX">Texas
											<option value="UT">Utah
											<option value="VT">Vermont
											<option value="VA">Virginia
											<option value="WA">Washington
											<option value="DC">Washington D.C.
											<option value="WV">West Virginia
											<option value="WI">Wisconsin
											<option value="WY">Wyoming
										</select>
									</div>
								</div>
							
							<div class="form-group">
								<label>Phone Number (Optional)</label>
								<div class="row">
									<div class="col-xs-8">
									 <input type="text" class="form-control" placeholder="Phone number" required required data-toggle="popover" data-placement="left" data-content="Your phone number gives us an additional way to contact you about your case as well as verifying your identity."> 
									</div>
								</div>
							</div>
							<p><button class="btn btn-info"><i class="fa fa-plus-circle"></i> Add another hospital</button></p>
						</div>
						
					  <div class="tab-pane" id="messages">
							<div class="form-group">
								<label>Center</label>
								<div class="row">
									<div class="col-xs-8">
										<input type="text" class="form-control" placeholder="Hospital name" required autofocus>
									</div>
								</div>
								</div>
								
								<div class="row">
									<div class="col-xs-3">
										<input type="text" class="form-control" placeholder="City" required autofocus> 
									</div>
									<div class="col-xs-2">
										<select class="form-control">
										  <option>State
											<option value="AL">Alabama
											<option value="AK">Alaska
											<option value="AZ">Arizona
											<option value="AR">Arkansas
											<option value="CA">California
											<option value="CO">Colorado
											<option value="CT">Connecticut
											<option value="DE">Delaware
											<option value="FL">Florida
											<option value="GA">Georgia
											<option value="HI">Hawaii
											<option value="ID">Idaho
											<option value="IL">Illinois
											<option value="IN">Indiana
											<option value="IA">Iowa
											<option value="KS">Kansas
											<option value="KY">Kentucky
											<option value="LA">Louisiana
											<option value="ME">Maine
											<option value="MD">Maryland
											<option value="MA">Massachusetts
											<option value="MI">Michigan
											<option value="MN">Minnesota
											<option value="MS">Mississippi
											<option value="MO">Missouri
											<option value="MT">Montana
											<option value="NE">Nebraska
											<option value="NV">Nevada
											<option value="NH">New Hampshire
											<option value="NJ">New Jersey
											<option value="NM">New Mexico
											<option value="NY">New York
											<option value="NC">North Carolina
											<option value="ND">North Dakota
											<option value="OH">Ohio
											<option value="OK">Oklahoma
											<option value="OR">Oregon
											<option value="PA">Pennsylvania
											<option value="RI">Rhode Island
											<option value="SC">South Carolina
											<option value="SD">South Dakota
											<option value="TN">Tennessee
											<option value="TX">Texas
											<option value="UT">Utah
											<option value="VT">Vermont
											<option value="VA">Virginia
											<option value="WA">Washington
											<option value="DC">Washington D.C.
											<option value="WV">West Virginia
											<option value="WI">Wisconsin
											<option value="WY">Wyoming
										</select>
									</div>
								</div>
							
							<div class="form-group">
								<label>Phone Number (Optional)</label>
								<div class="row">
									<div class="col-xs-8">
									 <input type="text" class="form-control" placeholder="Phone number" required required data-toggle="popover" data-placement="left" data-content="Your phone number gives us an additional way to contact you about your case as well as verifying your identity."> 
									</div>
								</div>
							</div>
							<p><button class="btn btn-info"><i class="fa fa-plus-circle"></i> Add another center</button></p>
						</div>
					</div>
				</div>
				<!-- /payment info -->
				<p><%= f.submit "Continue", :class => "btn btn-lg btn-primary btn-block" %></p>
				<p class="text-right"><small><strong>Next Step:</strong> Approve your Medical Release</small></p>
					<!-- create account -->		
				

				<!-- /carousel -->
			</div>

		</div>
	</div>