		<!-- Footer -->
    <div class="container">
      <hr>
      <footer>
        <p>&copy; Grand Rounds Health 2013</p>
				<p><a href="#">www.grandroundshealth.com</a></p>
				<ul class="list-unstyled small">
					<li><a href="#">Blog</a></li>
					<li><a href="#">Our Specialists</a></li>
				</ul>
				<ul class="list-unstyled small">
					<li><a href="#">Terms of Service</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
      </footer>
    </div> <!-- /footer -->