<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
	<!-- default flash message -->
	<script>
	Messenger.options = {
	    extraClasses: 'messenger-fixed messenger-on-top messenger-on-left',
	    theme: 'flat',
	}
	
	Messenger().post({
	  message: '<%= content_tag :div, msg, :id => "flash_#{name}" %>',
		type: "success",
	  hideAfter: 3,
	  hideOnNavigate: true
	});

	
	</script>
	
    <!-- ><div class="alert center-block alert-flash alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" id="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div> -->
  <% end %>
<% end %>

